@model WebHotelGranChaco.Models.Habitacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPorNoche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPorNoche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLimpieza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLimpieza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoHabitacion.CapacidadMaxima)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Habitacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
